.shopping-container__composition {
    padding: 3rem 0 1rem 0; 
    text-align: center;
    font-size: 1rem;
    background-color: rgb(249, 251, 255);
    &__composition {
    }
    &__title {
        font-size: 1.7rem;
    }
}

@media screen and (max-width: 720px) {
    .shopping-container__composition {
        font-size: 0.8rem;
      &__title {
          font-size: 1rem;
      }
    }
  }
