.properties-container {
    text-align: center;
    font-size: 0.9rem;
    &__img {
        margin-bottom: 2rem;
        width: 75px;
        height: 81px;
        cursor: pointer;
        &:hover {
            transform: scale(1.05, 1.05);
	        transition: 0.2s ease;
        }
    }
    &__title {
        display: block;
        text-transform: uppercase;
        font-family: 'Nunito', sans-serif;
        font-weight: 700;
        font-size: 1rem;
        margin-bottom: 0.6rem;
        color: #232c38;
    }
    &__subtitle {
        color: #151d28;
        cursor: pointer;
        font-family: 'Nunito', sans-serif;
        font-weight: 400;
    }
}

//MEDIA QUERIES

@media screen and (max-width: 720px) {
    .properties-container {
        &__img {
            margin-bottom: 2rem;
            width: 50px;
            height: 60px;
            cursor: pointer;
            &:hover {
                transform: scale(1.05, 1.05);
                transition: 0.2s ease;
            }
        }
        &__title {
            display: block;
            text-transform: uppercase;
            font-family: 'Nunito', sans-serif;
            font-weight: 700;
            font-size: 0.8rem;
            margin-bottom: 0.5rem;
            color: #232c38;
        }
        &__subtitle {
            font-size: 0.6rem;
            color: #151d28;
            cursor: pointer;
            font-family: 'Nunito', sans-serif;
            font-weight: 400;
        }
    }
}