.shop-section-first-container {
    overflow-x: hidden;
    display: flex;
    flex-direction: row-reverse;
    position: relative;
	top: 0;
    height: 794px;
    &__center {
        // display: flex;
        // align-items: center;
        background-color:rgb(249, 251, 255);
        flex: 1;
        padding: 1rem;
    }
    &__right {
        background:rgb(65, 81, 103);
        flex: 0.3;
        display: flex;
    }
}

//MEDIA QUERIES

@media screen and (max-width: 720px) {
    .header-container {
        &__right {
            background:rgb(65, 81, 103);
            flex: 0.3;
            padding: 0.8rem;
            font-size: 0.6rem;
            display: flex;
            flex-direction: row;
        }
    }
  }

@media screen and (max-width: 600px) {

}


  @media screen and (max-width: 900px) and (min-width: 600px) {
      
}
