@import '../../../../common/styles/variables.scss';
@import '../../../../common/styles/base.scss';
@import '../../../../common/styles/mixins.scss';

.header-menu {
    display: flex;
    font-family: 'Montserrat', sans-serif;
    flex-direction: column;
    padding: 0 1rem;
    justify-content: center;
    word-wrap: nowrap;
    &__cart {
        &_link {
        background-image: url("../../../../common/styles/img/nav/shopping-store-cart-.png");
        width: 35px;
        height: 35px;
        background-size: cover;
        top: 10%;
        background-position: right center;
        position: absolute;
        &:hover {
            transform: scale(0.95);
        }
      }
    }
    &__counter-wrapper {
        position: absolute;
        top: -18px;
        right: 1px;
        background-color: #fff;
        width: 10px;
        height: 10px;
        position: absolute;
        background-color: rgb(199, 161, 122);
        border-radius: 50%;
        padding: 0.8rem;
    }
    &__counter {
        font-size: 0.9rem;
        color: #fff;
        position: absolute;
        top: 4px;
        right: 8px;
    }

    &__items {
        display: flex;
        flex-direction: column;
    }
    &__item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        text-align: center;
    }
    &__link {
        font-family: 'Montserrat', sans-serif;
        padding: 1rem;
        color: #edf0f5;
        text-align: left;
        text-transform: uppercase;
        white-space: nowrap
    }
    &__link:hover {
        color: rgb(199, 161, 122);
        transform: scale(0.95);
        transition: all .2s ease-in-out;
    }
}
//MEDIA QUERIES

@media screen and (max-width: 720px) {
    .header-menu {
        &__counter-wrapper {
            top: -10px;
            right: 2px;
            width: 10px;
            height: 10px;
            padding: 0.5rem;
        }
        &__counter {
            font-size: 0.5rem;
            top: 3px;
            right:5px;
        }
        &__cart {
            &_link {
            width: 30px;
            height: 30px;
            top: 10%;
          }
        }
    }
}

@media screen and (max-width: 600px) {

}


@media screen and (max-width: 900px) and (min-width: 600px) {

}
