@import './variables.scss';

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Nunito:400,600,700');
* {
  box-sizing: border-box;
}

html {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: $base-font-color;
}

body {
  padding: 0;
  margin: 0;
  min-height: 100vh;

}

h1,
h2,
h3,
h4,
p, figure {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h2 {
  font-size: 4.57rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1rem;
}

a {
  text-decoration: none;
  display: inline-block;
}

section, header {
  position: relative;
	background-size: cover;
	background-position: center;
	background-color: #fff;
}



h1, h2, h3, h4, h5, h6 {
  line-height: 1.4;
	text-transform: uppercase;
}
