.container__composition {
    //padding: 4rem 0 3.5rem 0; 
    //width: 100%;
    text-align: center;
    font-size: 1rem;
    background-color: rgb(249, 251, 255);
    &__composition {
    }
    &__title {
        font-size: 1.7rem;
    }
}
