.btn-all {
    border-radius: 19px;
    border: none;
    color: #f9fbff;
    background-color: #c7a17a;
    padding: 10px 19px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s;
    width: 150px;
    outline: none;
}