.section-cards {
    text-align: right;
    position: relative;
  }
  .card {
    font-family: 'Nunito' sans-serif;
    //border: 3px #f3f3f3 solid;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
    transition: all 0.3s linear;
    //cursor: pointer;
    background-color: #f3f3f3;
    //padding: 10px;
    max-width: 460px;
    text-align: left;
    //margin: 0 auto;
    &:hover {
      background-color: #f3f3f3;
      border-color: #f3f3f3;
    }
    &__img {
      max-width: 100%;
      display: block;
    }
    .index {
      background-color: rgba(0, 0, 0, 0.2);
      color: #fff;
      line-height: 20px;
      font-size: 14px;
      right: 0;
      display: block;
      padding: 0 10px;
    }
    &__description {
      display: flex;
      //position: absolute;
      padding: 1rem;
      top: 0;
      right: 11%;
    }
    &__details {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: end;
      justify-content: space-evenly;
      padding-left: 20px;
      padding-right: 30px;
      }
    &__prices {
      display: flex;
      flex-direction: row;
      align-content: stretch;
    }
    &__price {
        margin: 0;
        padding: 10px 0;
        font-size: 1.4rem;
        font-weight: 600;
        line-height: 1.2;
        color: rgb(199, 161, 122);
        display: inline-block;
    }
    &__old-price {
      padding-left: 2rem;
      padding-top: 0.8rem;
      text-decoration: line-through;
    }
    &__title-box {
        display: inline;
    }
    &__title {
      margin-top: 30px;
      font-size: 1rem;
      font-weight: bold;
      line-height: 1.17;
      color: #232c38;
    }
    &__subtitle {
      font-size: 16px;
      font-weight: 300;
      color: #151d28;
    }
    &__features {
        margin-top: 30px;
        margin-bottom: 20px;
        list-style: none;
        padding: 0;
      }
    &__link {
      margin-right: 10px;
      display: inline-block;
      margin-left: 50px;
    }
    &__helper {
      font-size: 1rem;
      font-weight: 300;
    }
}

.section-element__btn {
    position: absolute;
    z-index: 1;
    width: 48px;
    height: 48px;
    border-radius: 30px;
    top: 15rem;
    right: -15rem;
    background-color: transparent;
    padding: 1rem;
    border: none;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    background-color: rgb(199, 161, 122);
    overflow: hidden;
    &:after {
      background-image: url(../../../../common/styles/img/slider-element/next.png);
      background-repeat: no-repeat;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 7px;
      left: 5px;
      z-index: 10;
      content: "" ;
      text-indent: 0;
      text-align: center;
      outline: none;
      }
  &:hover,
  &:focus{
      transform: scale(0.9);
      outline: none;
  }
}

.page {
    position: relative;
    display: flex;
    right: 100px;
}
  /* #endregion */
  
  /* #region cards slider */
  .cards-slider-wrapper {
    display: flex;
    position: absolute;
    transition: transform 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
    .card {
      flex: 1;
      min-width: 360px;
      opacity: 0.7;
     transform: scale(0.8);
      box-shadow: none;
      background-color: #f9fbff;
      border-color: white;
      transition: opacity 300ms linear, border-color 300ms linear, background-color 300ms linear,transform 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
      .details {
        opacity: 0;
        transition: opacity 150ms linear;
      }
    }
  }
  
  $i: 0;
  @for $i from 0 through 19 {
      .cards-slider.active-slide-#{$i} #card-#{$i} {
        opacity: 1;
        //transform: scale(1);
        background-color: #f9fbff;
        border-color: #f3f3f3;
        box-shadow: 0 4px 24px 0 rgba(205, 205, 205, 0.5);
        .details {
          opacity: 1;
        }
      }
  }
  
  .cards-slider {
    position: relative;
    max-width: 226px;
    margin: 0 auto;
  }
  /* #endregion */





//   .section-cards {
//     text-align: right;
//     position: relative;
//   }
//   .card {
//     font-family: 'Nunito' sans-serif;
//     //border: 3px #f3f3f3 solid;
//     box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
//     transition: all 0.3s linear;
//     cursor: pointer;
//     background-color: #f3f3f3;
//     //padding: 10px;
//     max-width: 460px;
//     text-align: left;
//     //margin: 0 auto;
//     &:hover {
//       background-color: #f3f3f3;
//       border-color: #f3f3f3;
//     }
//     &__img {
//       max-width: 100%;
//       display: block;
//     }
//     .index {
//       background-color: rgba(0, 0, 0, 0.2);
//       color: #fff;
//       line-height: 20px;
//       font-size: 14px;
//       right: 0;
//       display: block;
//       padding: 0 10px;
//     }
//     &__description {
//       display: flex;
//       //position: absolute;
//       padding: 1rem;
//       top: 0;
//       right: 11%;
//     }
//     &__details {
//       position: relative;
//       display: flex;
//       flex-direction: column;
//       align-items: end;
//       justify-content: space-evenly;
//       padding-left: 40px;
//       }
//     &__price {
//         margin: 0;
//         padding: 10px 0;
//         font-size: 1.4rem;
//         font-weight: 600;
//         line-height: 1.2;
//         color: rgb(199, 161, 122);
//       }
//     &__title-box {
//         display: inline;
//     }
//     &__title {
//       margin-top: 30px;
//       margin-bottom: 10px;
//       font-size: 1.5rem;
//       font-weight: bold;
//       line-height: 1.17;
//       color: #232c38;
//     }
//     &__subtitle {
//       font-size: 16px;
//       font-weight: 300;
//       color: #151d28;
//     }
//     &__features {
//         margin-top: 50px;
//         list-style: none;
//         padding: 0;
//       }
//     &__link {
//       padding-left: 24px;
//       margin-right: 10px;
//       display: inline-block;
//     }
//     &__helper {
//       font-size: 1rem;
//       font-weight: 600;
//       color: var(--slate);
//     }
// }

// .section-element__btn {
//     position: absolute;
//     z-index: 1;
//     top: 100px;
//     right: -30px;
// }

// .page {
//     position: relative;
//     display: flex;
//     right: 100px;
// }
//   /* #endregion */
  
//   /* #region cards slider */
//   .cards-slider-wrapper {
//     display: flex;
//     position: absolute;
//     transition: transform 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
//     .card {
//       flex: 1;
//       min-width: 360px;
//       opacity: 0.7;
//      // transform: scale(0.8);
//       //box-shadow: none;
//       background-color: #f9fbff;
//       //border-color: white;
//       //transition: opacity 300ms linear, border-color 300ms linear, background-color 300ms linear,transform 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
//     //   .details {
//     //     opacity: 0;
//     //     transition: opacity 150ms linear;
//     //   }
//     }
//   }
  
//   $i: 0;
//   @for $i from 0 through 19 {
//       .cards-slider.active-slide-#{$i} #card-#{$i} {
//         opacity: 1;
//         transform: scale(1);
//         background-color: #f9fbff;
//         border-color: #f3f3f3;
//         box-shadow: 0 4px 24px 0 rgba(205, 205, 205, 0.5);
//         .details {
//           opacity: 1;
//         }
//       }
//   }
  
//   // .col {
//   //   height: 264px;
//   //   position: absolute;
//   //   &:after {
//   //       content: '';
//   //       display: block;
//   //       width: 50%;
//   //       height: 120%;
//   //       background: linear-gradient(to right, rgba(255, 255, 255, 1) 15%, rgba(255, 255, 255, 0) 100%);
//   //       position: absolute;
//   //       top: 0;
//   //       left: 0;
//   //       z-index: 2;
//   //   }
//   //   &:after {
//   //       left: auto;
//   //       right: 0;
//   //       background: linear-gradient(to left, rgba(255, 255, 255, 1) 15%, rgba(255, 255, 255, 0) 100%);
//   //   }
//   // }
  
//   .cards-slider {
//     position: relative;
//     max-width: 226px;
//     margin: 0 auto;
//   }
//   /* #endregion */