.btn-all {
    border-radius: 19px;
    border: none;
    color: rgb(249, 251, 255);
    background-color: rgb(199, 161, 122);
    padding: 10px 19px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s;
    width: 150px;
    outline: none;
    &:hover {
        background-color: rgb(218, 184, 150);
        transition: all 1s;
    }
    &:link {
        background-color: rgb(218, 184, 150);
    }
    
    &:visited {
        background-color: rgb(92, 50, 9);
    }
    &:active {
        background-color: rgb(245, 132, 19);
    }
}