@import url(https://fonts.googleapis.com/css?family=Montserrat:300,400,700,900);@import url(https://fonts.googleapis.com/css?family=Nunito:400,600,700);.header-menu {
  display: -ms-flexbox;
  display: flex;
  font-family: 'Montserrat', sans-serif;
  -ms-flex-direction: column;
      flex-direction: column;
  padding: 0 1rem;
  -ms-flex-pack: center;
      justify-content: center;
  word-wrap: nowrap; }
  .header-menu__cart {
    top: -7%;
    left: 6%;
    position: relative; }
    .header-menu__cart_link {
      background-image: url(./assets/images/shopping-store-cart-.png);
      width: 35px;
      height: 35px;
      background-size: cover;
      top: 10%;
      background-position: right center; }
  .header-menu__counter-wrapper {
    position: absolute;
    top: -18px;
    left: 10px;
    background-color: #fff;
    width: 10px;
    height: 10px;
    position: absolute;
    background-color: #c7a17a;
    border-radius: 50%;
    padding: 0.8rem; }
  .header-menu__counter {
    font-size: 0.9rem;
    color: #fff;
    position: absolute;
    top: 4px;
    right: 8px; }
  .header-menu__items {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column; }
  .header-menu__link {
    padding: 1rem;
    color: #edf0f5;
    text-align: left;
    text-transform: uppercase;
    white-space: nowrap; }
  .header-menu__link:hover {
    color: #c7a17a;
    transition: all .2s ease-in-out; }

@media screen and (max-width: 720px) {
  .header-menu__counter-wrapper {
    top: -10px;
    right: 2px;
    width: 10px;
    height: 10px;
    padding: 0.5rem; }
  .header-menu__counter {
    font-size: 0.5rem;
    top: 3px;
    right: 5px; }
  .header-menu__cart {
    top: -10%;
    left: 6%; }
    .header-menu__cart_link {
      width: 25px;
      height: 25px; } }
.header-container {
  display: -ms-flexbox;
  display: flex;
  font-family: 'Montserrat', sans-serif;
  position: relative;
  height: 100vh; }
  .header-container__left {
    background-color: #f9fbff;
    -ms-flex: 0.5;
        flex: 0.5;
    padding: 1rem; }
  .header-container__logo_img {
    top: 10%;
    left: 6%;
    width: 120.4px;
    height: 36.4px;
    position: absolute; }
  .header-container__title {
    position: relative;
    display: inline-block;
    text-align: left;
    text-transform: uppercase;
    font-size: 3rem;
    position: absolute;
    left: 6%;
    top: 50%;
    font-weight: 400;
    color: #415167;
    background-position: calc(100% - 20px) 0; }
    .header-container__title_second-style {
      padding: 0 2rem 0 0.5rem;
      color: #f9fbff;
      background-color: #c7a17a; }
  .header-container__center {
    background: url(./assets/images/header_img-compressor.jpg);
    background-size: cover;
    background-position: center;
    -ms-flex: 1;
        flex: 1;
    padding: 1rem;
    cursor: pointer; }
  .header-container__right {
    background: #415167;
    -ms-flex: 0.33;
        flex: 0.33;
    padding: 1rem;
    display: -ms-flexbox;
    display: flex; }

@media screen and (max-width: 720px) {
  .header-container__logo_img {
    top: 10%;
    left: 6%;
    width: 70.4px;
    height: 20.4px;
    position: absolute; }
  .header-container__title {
    font-size: 2rem;
    left: 3%; }
    .header-container__title_third-style {
      padding: 0 0.5rem 0 0.5rem;
      color: #f9fbff;
      background-color: #c7a17a; }
    .header-container__title_second-style {
      padding: 0 1rem 0 0.5rem;
      color: #f9fbff;
      background-color: #c7a17a; }
  .header-container__right {
    background: #415167;
    -ms-flex: 0.3;
        flex: 0.3;
    padding: 0.8rem;
    font-size: 0.6rem;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row; } }
.video-header-container {
  width: 50px;
  height: 50px;
  background-color: white;
  position: relative;
  border-radius: 50%;
  top: 40%;
  left: 50%;
  z-index: 1; }
  .video-header-container__arrow-right {
    width: 0;
    position: absolute;
    top: 30%;
    left: 45%;
    height: 0px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    margin: auto;
    border-left: 10px solid #c7a17a; }
.trang {
  background-color: #111; }
.container__composition {
  padding: 4rem 0 3.5rem 0;
  width: 100%;
  text-align: center;
  font-size: 1rem;
  background-color: #f9fbff; }
  .container__composition__title {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    font-size: 1.7rem; }

@media screen and (max-width: 720px) {
  .container__composition {
    font-size: 0.8rem; }
    .container__composition__title {
      font-size: 1rem; } }
.properties-container {
  font-family: 'Nunito', sans-serif;
  margin: 0 auto;
  display: -ms-flexbox;
  display: flex;
  color: black; }
  .properties-container__column {
    font-size: 1rem;
    margin: 10px;
    color: white;
    -ms-flex-positive: 1;
        flex-grow: 1;
    -ms-flex-negative: 1;
        flex-shrink: 1; }
.properties-container {
  text-align: center;
  font-size: 0.9rem; }
  .properties-container__img {
    margin-bottom: 2rem;
    width: 75px;
    height: 81px;
    cursor: pointer; }
    .properties-container__img:hover {
      -ms-transform: scale(1.05, 1.05);
          transform: scale(1.05, 1.05);
      transition: 0.2s ease; }
  .properties-container__title {
    display: block;
    text-transform: uppercase;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    font-size: 1rem;
    margin-bottom: 0.6rem;
    color: #232c38; }
  .properties-container__subtitle {
    color: #151d28;
    cursor: pointer;
    font-family: 'Nunito', sans-serif;
    font-weight: 400; }

@media screen and (max-width: 720px) {
  .properties-container__img {
    margin-bottom: 2rem;
    width: 50px;
    height: 60px;
    cursor: pointer; }
    .properties-container__img:hover {
      -ms-transform: scale(1.05, 1.05);
          transform: scale(1.05, 1.05);
      transition: 0.2s ease; }
  .properties-container__title {
    display: block;
    text-transform: uppercase;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
    color: #232c38; }
  .properties-container__subtitle {
    font-size: 0.6rem;
    color: #151d28;
    cursor: pointer;
    font-family: 'Nunito', sans-serif;
    font-weight: 400; } }
.properties-container {
  padding-left: 3rem;
  padding-right: 3rem;
  padding-bottom: 5rem;
  background-color: #f9fbff;
  transition: all 0.3s ease; }
.shopping-container__composition {
  padding: 3rem 0 1rem 0;
  text-align: center;
  font-size: 1rem;
  background-color: #f9fbff; }
  .shopping-container__composition__title {
    font-size: 1.7rem; }

@media screen and (max-width: 720px) {
  .shopping-container__composition {
    font-size: 0.8rem; }
    .shopping-container__composition__title {
      font-size: 1rem; } }
.section-cards {
  text-align: right;
  position: relative; }

.cards {
  font-family: 'Nunito' sans-serif;
  border: 3px #f3f3f3 solid;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  transition: all 0.3s linear;
  background-color: #f3f3f3;
  max-width: 256px;
  text-align: left;
  margin: 0 auto; }
  .cards:hover {
    background-color: #f3f3f3;
    border-color: #f3f3f3; }
  .cards__img {
    max-width: 100%;
    display: inline-block; }
  .cards__description {
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    padding-left: 3rem;
    top: 10px;
    right: 0%; }
  .cards__details {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-align: end;
        align-items: end;
    -ms-flex-pack: space-evenly;
        justify-content: space-evenly;
    padding-left: 20px;
    padding-right: 30px; }
  .cards__prices {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-line-pack: stretch;
        align-content: stretch; }
  .cards__price {
    margin: 0;
    padding: 10px 0;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.2;
    color: #c7a17a;
    display: inline-block; }
  .cards__old-price {
    padding-left: 2rem;
    padding-top: 0.8rem;
    text-decoration: line-through; }
  .cards__title-box {
    display: inline; }
  .cards__title {
    margin-top: 30px;
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.17;
    color: #232c38; }
  .cards__subtitle {
    font-size: 16px;
    font-weight: 300;
    color: #151d28; }
  .cards__features {
    margin-top: 30px;
    margin-bottom: 20px;
    list-style: none;
    padding: 0; }
  .cards__link {
    margin-right: 10px;
    display: inline-block;
    margin-left: 40px; }
  .cards__helper {
    font-size: 1rem;
    font-weight: 300; }

.section-element__btns {
  position: absolute;
  cursor: pointer;
  z-index: 1;
  width: 48px;
  height: 48px;
  border-radius: 30px;
  right: 10%;
  top: 15rem;
  background-color: transparent;
  padding: 1rem;
  border: none;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  background-color: #c7a17a;
  overflow: hidden; }
  .section-element__btns_prev {
    z-index: 1;
    position: absolute;
    cursor: pointer;
    z-index: 1;
    width: 48px;
    height: 48px;
    border-radius: 30px;
    left: -17%;
    top: 15rem;
    background-color: transparent;
    padding: 1rem;
    border: none;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    background-color: #c7a17a;
    overflow: hidden; }
    .section-element__btns_prev:after {
      background-image: url(./assets/images/left.png);
      background-repeat: no-repeat;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 7px;
      left: 5px;
      z-index: 10;
      content: "";
      text-indent: 0;
      text-align: center;
      outline: none; }
    .section-element__btns_prev:hover, .section-element__btns_prev:focus {
      -ms-transform: scale(0.9);
          transform: scale(0.9);
      outline: none; }
  .section-element__btns:after {
    background-image: url(./assets/images/next.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 7px;
    left: 5px;
    z-index: 10;
    content: "";
    text-indent: 0;
    text-align: center;
    outline: none; }
  .section-element__btns:hover, .section-element__btns:focus {
    -ms-transform: scale(0.9);
        transform: scale(0.9);
    outline: none; }

.pages {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  right: 30%; }

.cardss-slider-wrapper {
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  transition: transform 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955); }
  .cardss-slider-wrapper .cards {
    -ms-flex: 1;
        flex: 1;
    min-width: 560px;
    opacity: 0.7;
    -ms-transform: scale(0.8);
        transform: scale(0.8);
    box-shadow: none;
    background-color: #f9fbff;
    border-color: white;
    transition: opacity 300ms linear, border-color 300ms linear, background-color 300ms linear, transform 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955); }
    .cardss-slider-wrapper .cards .details {
      opacity: 0;
      transition: opacity 150ms linear; }

.cardss-slider.actives-slide-0 #cards-0, #cards-0, #cards-1 {
  opacity: 1;
  box-shadow: 0 4px 24px 0 rgba(205, 205, 205, 0.5); }
  .cardss-slider.actives-slide-0 #cards-0 .details, #cards-0 .details, #cards-1 .details {
    opacity: 1; }

.cardss-slider.actives-slide-1 #cards-1, #cards-0, #cards-1 {
  opacity: 1;
  box-shadow: 0 4px 24px 0 rgba(205, 205, 205, 0.5); }
  .cardss-slider.actives-slide-1 #cards-1 .details, #cards-0 .details, #cards-1 .details {
    opacity: 1; }

.cardss-slider.actives-slide-2 #cards-2, #cards-0, #cards-1 {
  opacity: 1;
  box-shadow: 0 4px 24px 0 rgba(205, 205, 205, 0.5); }
  .cardss-slider.actives-slide-2 #cards-2 .details, #cards-0 .details, #cards-1 .details {
    opacity: 1; }

.cardss-slider.actives-slide-3 #cards-3, #cards-0, #cards-1 {
  opacity: 1;
  box-shadow: 0 4px 24px 0 rgba(205, 205, 205, 0.5); }
  .cardss-slider.actives-slide-3 #cards-3 .details, #cards-0 .details, #cards-1 .details {
    opacity: 1; }

.cardss-slider.actives-slide-4 #cards-4, #cards-0, #cards-1 {
  opacity: 1;
  box-shadow: 0 4px 24px 0 rgba(205, 205, 205, 0.5); }
  .cardss-slider.actives-slide-4 #cards-4 .details, #cards-0 .details, #cards-1 .details {
    opacity: 1; }

.cardss-slider.actives-slide-5 #cards-5, #cards-0, #cards-1 {
  opacity: 1;
  box-shadow: 0 4px 24px 0 rgba(205, 205, 205, 0.5); }
  .cardss-slider.actives-slide-5 #cards-5 .details, #cards-0 .details, #cards-1 .details {
    opacity: 1; }

.cardss-slider.actives-slide-6 #cards-6, #cards-0, #cards-1 {
  opacity: 1;
  box-shadow: 0 4px 24px 0 rgba(205, 205, 205, 0.5); }
  .cardss-slider.actives-slide-6 #cards-6 .details, #cards-0 .details, #cards-1 .details {
    opacity: 1; }

.cardss-slider.actives-slide-7 #cards-7, #cards-0, #cards-1 {
  opacity: 1;
  box-shadow: 0 4px 24px 0 rgba(205, 205, 205, 0.5); }
  .cardss-slider.actives-slide-7 #cards-7 .details, #cards-0 .details, #cards-1 .details {
    opacity: 1; }

.cardss-slider.actives-slide-8 #cards-8, #cards-0, #cards-1 {
  opacity: 1;
  box-shadow: 0 4px 24px 0 rgba(205, 205, 205, 0.5); }
  .cardss-slider.actives-slide-8 #cards-8 .details, #cards-0 .details, #cards-1 .details {
    opacity: 1; }

.cardss-slider.actives-slide-9 #cards-9, #cards-0, #cards-1 {
  opacity: 1;
  box-shadow: 0 4px 24px 0 rgba(205, 205, 205, 0.5); }
  .cardss-slider.actives-slide-9 #cards-9 .details, #cards-0 .details, #cards-1 .details {
    opacity: 1; }

.cardss-slider.actives-slide-10 #cards-10, #cards-0, #cards-1 {
  opacity: 1;
  box-shadow: 0 4px 24px 0 rgba(205, 205, 205, 0.5); }
  .cardss-slider.actives-slide-10 #cards-10 .details, #cards-0 .details, #cards-1 .details {
    opacity: 1; }

.cardss-slider.actives-slide-11 #cards-11, #cards-0, #cards-1 {
  opacity: 1;
  box-shadow: 0 4px 24px 0 rgba(205, 205, 205, 0.5); }
  .cardss-slider.actives-slide-11 #cards-11 .details, #cards-0 .details, #cards-1 .details {
    opacity: 1; }

.cardss-slider.actives-slide-12 #cards-12, #cards-0, #cards-1 {
  opacity: 1;
  box-shadow: 0 4px 24px 0 rgba(205, 205, 205, 0.5); }
  .cardss-slider.actives-slide-12 #cards-12 .details, #cards-0 .details, #cards-1 .details {
    opacity: 1; }

.cardss-slider.actives-slide-13 #cards-13, #cards-0, #cards-1 {
  opacity: 1;
  box-shadow: 0 4px 24px 0 rgba(205, 205, 205, 0.5); }
  .cardss-slider.actives-slide-13 #cards-13 .details, #cards-0 .details, #cards-1 .details {
    opacity: 1; }

.cardss-slider.actives-slide-14 #cards-14, #cards-0, #cards-1 {
  opacity: 1;
  box-shadow: 0 4px 24px 0 rgba(205, 205, 205, 0.5); }
  .cardss-slider.actives-slide-14 #cards-14 .details, #cards-0 .details, #cards-1 .details {
    opacity: 1; }

.cardss-slider.actives-slide-15 #cards-15, #cards-0, #cards-1 {
  opacity: 1;
  box-shadow: 0 4px 24px 0 rgba(205, 205, 205, 0.5); }
  .cardss-slider.actives-slide-15 #cards-15 .details, #cards-0 .details, #cards-1 .details {
    opacity: 1; }

.cardss-slider.actives-slide-16 #cards-16, #cards-0, #cards-1 {
  opacity: 1;
  box-shadow: 0 4px 24px 0 rgba(205, 205, 205, 0.5); }
  .cardss-slider.actives-slide-16 #cards-16 .details, #cards-0 .details, #cards-1 .details {
    opacity: 1; }

.cardss-slider.actives-slide-17 #cards-17, #cards-0, #cards-1 {
  opacity: 1;
  box-shadow: 0 4px 24px 0 rgba(205, 205, 205, 0.5); }
  .cardss-slider.actives-slide-17 #cards-17 .details, #cards-0 .details, #cards-1 .details {
    opacity: 1; }

.cardss-slider.actives-slide-18 #cards-18, #cards-0, #cards-1 {
  opacity: 1;
  box-shadow: 0 4px 24px 0 rgba(205, 205, 205, 0.5); }
  .cardss-slider.actives-slide-18 #cards-18 .details, #cards-0 .details, #cards-1 .details {
    opacity: 1; }

.cardss-slider.actives-slide-19 #cards-19, #cards-0, #cards-1 {
  opacity: 1;
  box-shadow: 0 4px 24px 0 rgba(205, 205, 205, 0.5); }
  .cardss-slider.actives-slide-19 #cards-19 .details, #cards-0 .details, #cards-1 .details {
    opacity: 1; }

.cards-slider {
  position: relative;
  max-width: 226px;
  margin: 0 auto; }
.btn-all {
  border-radius: 19px;
  border: none;
  color: #f9fbff;
  background-color: #c7a17a;
  padding: 10px 19px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s;
  width: 150px;
  outline: none; }
  .btn-all:hover {
    background-color: #dab896;
    transition: all 1s; }
  .btn-all:link {
    background-color: #dab896; }
  .btn-all:visited {
    background-color: #5c3209; }
  .btn-all:active {
    background-color: #f58413; }
.shop-section-first-container {
  overflow-x: hidden;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row-reverse;
      flex-direction: row-reverse;
  position: relative;
  top: 0;
  height: 794px; }
  .shop-section-first-container__center {
    background-color: #f9fbff;
    -ms-flex: 1;
        flex: 1;
    padding: 1rem; }
  .shop-section-first-container__right {
    background: #415167;
    -ms-flex: 0.3;
        flex: 0.3;
    display: -ms-flexbox;
    display: flex; }

@media screen and (max-width: 720px) {
  .header-container__right {
    background: #415167;
    -ms-flex: 0.3;
        flex: 0.3;
    padding: 0.8rem;
    font-size: 0.6rem;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row; } }
.tab-container__composition {
  padding: 4rem 0 3.5rem 0;
  width: 100%;
  text-align: center;
  font-size: 1rem;
  background-color: #edf0f5; }
  .tab-container__composition__title {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    font-size: 1.7rem; }

@media screen and (max-width: 720px) {
  .tab-container__composition {
    font-size: 0.8rem; }
    .tab-container__composition__title {
      font-size: 1rem; } }
.tabs-composition {
  position: relative; }
  .tabs-composition__img {
    position: relative;
    object-fit: contain; }
    .tabs-composition__img_size {
      position: absolute;
      display: inline-block;
      top: 53px;
      right: 74%; }
  .tabs-composition__information {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    margin-left: 30%;
    margin-right: 5%;
    padding-top: 10%; }
  .tabs-composition__price {
    font-family: 'Nunito' sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.2;
    color: #c7a17a;
    padding-bottom: 12px; }
  .tabs-composition__label {
    font-size: 24px;
    font-weight: bold;
    line-height: 1.17;
    color: #232c38;
    padding-bottom: 12px; }
  .tabs-composition__text {
    font-size: 16px;
    font-weight: 300;
    color: #151d28;
    padding-bottom: 30px;
    padding-right: 1%; }
  .tabs-composition__box_img {
    padding-top: 5px;
    display: inline; }
  .tabs-composition__box-left {
    padding-left: 3%;
    display: inline-block; }
  .tabs-composition__box-right {
    display: inline-block;
    padding-left: 10%; }
  .tabs-composition__pictureleft {
    display: inline-block;
    width: 40px;
    height: 39.7px; }
  .tabs-composition__pictureright {
    display: inline-block;
    width: 40px;
    height: 39.7px;
    padding-left: 30%; }
  .tabs-composition__links {
    padding-top: 46px;
    display: inline; }
  .tabs-composition__link {
    display: inline;
    padding-left: 30%; }

@media screen and (max-width: 1221px) {
  .tabs-composition {
    position: relative; }
    .tabs-composition__img_size {
      top: 77px;
      right: 70%;
      width: 400px; }
    .tabs-composition__information {
      margin-left: 35%;
      margin-right: 5%;
      padding-top: 10%; } }

@media screen and (max-width: 979px) {
  .tabs-composition {
    font-size: 14px;
    position: relative; }
    .tabs-composition__img_size {
      top: 77px;
      right: 68.4%;
      width: 350px; }
    .tabs-composition__information {
      margin-left: 35%;
      margin-right: 3%;
      padding-top: 13%; }
    .tabs-composition__price {
      font-size: 16px;
      padding-bottom: 10px; }
    .tabs-composition__label {
      font-size: 20px;
      font-weight: bold;
      padding-bottom: 10px; }
    .tabs-composition__text {
      font-size: 14px;
      padding-bottom: 20px;
      padding-right: 1%; }
    .tabs-composition__box_img {
      padding-top: 5px; }
    .tabs-composition__box-left {
      padding-left: 0%; }
    .tabs-composition__box-right {
      padding-left: 9%; }
    .tabs-composition__pictureleft {
      width: 40px;
      height: 39.7px; }
    .tabs-composition__pictureright {
      width: 40px;
      height: 39.7px;
      padding-left: 10%; }
    .tabs-composition__links {
      padding-top: 36px; }
    .tabs-composition__link {
      padding-left: 20%; } }

@media screen and (max-width: 776px) {
  .tabs-composition {
    font-size: 14px;
    position: relative; }
    .tabs-composition__img_size {
      top: 285px;
      right: 20%;
      width: 200px; }
    .tabs-composition__information {
      text-align: center;
      margin-left: 10%;
      margin-right: 3%;
      padding-top: 10%; }
    .tabs-composition__price {
      font-size: 16px;
      padding-bottom: 10px; }
    .tabs-composition__label {
      font-size: 24px; }
    .tabs-composition__text {
      display: none; }
    .tabs-composition__box_img {
      font-size: 13px; }
    .tabs-composition__box-left {
      padding-left: 5%; }
    .tabs-composition__box-right {
      padding-left: 7%; }
    .tabs-composition__pictureleft {
      width: 30px;
      height: 20px; }
    .tabs-composition__pictureright {
      width: 30px;
      height: 20px;
      padding-left: 5%; }
    .tabs-composition__links {
      text-align: center;
      padding-top: 36px;
      display: inline-block; }
    .tabs-composition__link {
      display: none; } }
.tabs-section-container__box {
  max-width: 882px;
  min-height: 460px;
  position: absolute;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  left: 50%;
  top: 50%;
  -ms-transform: translate(-40%, -50%);
      transform: translate(-40%, -50%);
  margin: 0 auto;
  box-shadow: 1px 0 10px 0 rgba(205, 205, 205, 0.5);
  background-color: #ffffff; }

.tabs {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around; }
  .tabs__control {
    width: 88px;
    height: 154px;
    border-left: 3px solid #edf0f5;
    border-bottom: 3px solid #edf0f5;
    opacity: 0.3;
    background-color: #edf0f5;
    background-color: none;
    border: none;
    font-size: 1rem;
    padding: 1rem;
    cursor: pointer;
    opacity: 0.3;
    font-family: 'Montserrat' sans-serif;
    font-size: 30px;
    font-weight: 900; }
    .tabs__control_active {
      background-color: #ffffff;
      border-bottom: 3px solid #edf0f5; }

.tabs-content {
  min-width: 794px; }
  .tabs-content__item {
    display: none;
    min-height: 200px; }
    .tabs-content__item_active {
      display: inherit; }

@media screen and (max-width: 1221px) {
  .tabs-content {
    min-width: 594px; } }

@media screen and (max-width: 979px) {
  .tabs-content {
    min-width: 494px;
    min-height: 300px; }
  .tabs {
    -ms-flex-pack: justify;
        justify-content: space-between; }
    .tabs__control {
      font-size: 1.5rem;
      padding: 3rem 1rem;
      width: 56px; } }

@media screen and (max-width: 776px) {
  .tabs-section-container__box {
    left: 40%;
    top: 50%;
    -ms-transform: translate(-40%, -50%);
        transform: translate(-40%, -50%); }
  .tabs-content {
    min-width: 396px;
    min-height: 200px; } }
.tabs-section-container {
  display: -ms-flexbox;
  display: flex;
  position: relative;
  height: 794px;
  width: 100%;
  min-height: 150px;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: stretch;
      align-items: stretch;
  background-color: #f9fbff; }
  .tabs-section-container__center {
    background-color: #edf0f5;
    background-size: cover;
    background-position: center;
    -ms-flex: 1;
        flex: 1;
    padding-left: 1rem; }
  .tabs-section-container__right {
    background: #f9fbff;
    -ms-flex: 0.33;
        flex: 0.33;
    display: -ms-flexbox;
    display: flex; }
.section-cards {
  position: relative; }

.card {
  font-family: 'Nunito' sans-serif;
  border: 3px #f3f3f3 solid;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  transition: all 0.3s linear;
  background-color: #f3f3f3;
  max-width: 562px;
  text-align: left;
  margin: 0 auto; }
  .card:hover {
    background-color: #f3f3f3;
    border-color: #f3f3f3; }
  .card__img {
    max-width: 100%;
    display: block; }
  .card .index {
    background-color: rgba(0, 0, 0, 0.2);
    color: #fff;
    line-height: 20px;
    font-size: 14px;
    right: 0;
    display: block;
    padding: 0 10px; }
  .card__description {
    display: -ms-flexbox;
    display: flex;
    padding: 1rem;
    top: 0;
    right: 11%; }
  .card__details {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-align: end;
        align-items: end;
    -ms-flex-pack: space-evenly;
        justify-content: space-evenly;
    padding-left: 20px;
    padding-right: 30px; }
  .card__prices {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-line-pack: stretch;
        align-content: stretch; }
  .card__price {
    margin: 0;
    padding: 10px 0;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.2;
    color: #c7a17a;
    display: inline-block; }
  .card__old-price {
    padding-left: 2rem;
    padding-top: 0.8rem;
    text-decoration: line-through; }
  .card__title-box {
    display: inline; }
  .card__title {
    margin-top: 30px;
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.17;
    color: #232c38; }
  .card__subtitle {
    font-size: 16px;
    font-weight: 300;
    color: #151d28; }
  .card__features {
    margin-top: 30px;
    margin-bottom: 20px;
    list-style: none;
    padding: 0; }
  .card__link {
    margin-right: 10px;
    display: inline-block;
    margin-left: 40px; }
  .card__helper {
    font-size: 1rem;
    font-weight: 300; }

.section-element__btn {
  position: absolute;
  cursor: pointer;
  z-index: 1;
  width: 48px;
  height: 48px;
  border-radius: 30px;
  right: -11%;
  top: 15rem;
  background-color: transparent;
  padding: 1rem;
  border: none;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  background-color: #c7a17a;
  overflow: hidden; }
  .section-element__btn_prev {
    z-index: 1;
    position: absolute;
    cursor: pointer;
    z-index: 1;
    width: 48px;
    height: 48px;
    border-radius: 30px;
    left: 25%;
    top: 15rem;
    background-color: transparent;
    padding: 1rem;
    border: none;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    background-color: #c7a17a;
    overflow: hidden; }
    .section-element__btn_prev:after {
      background-image: url(./assets/images/left.png);
      background-repeat: no-repeat;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 7px;
      left: 5px;
      z-index: 10;
      content: "";
      text-indent: 0;
      text-align: center;
      outline: none; }
    .section-element__btn_prev:hover, .section-element__btn_prev:focus {
      -ms-transform: scale(0.9);
          transform: scale(0.9);
      outline: none; }
  .section-element__btn:after {
    background-image: url(./assets/images/next.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 7px;
    left: 5px;
    z-index: 10;
    content: "";
    text-indent: 0;
    text-align: center;
    outline: none; }
  .section-element__btn:hover, .section-element__btn:focus {
    -ms-transform: scale(0.9);
        transform: scale(0.9);
    outline: none; }

.page {
  display: -ms-flexbox;
  display: flex;
  right: -5%; }

.cards-slider-wrapper {
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  transition: transform 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955); }
  .cards-slider-wrapper .card {
    min-width: 360px;
    opacity: 0.7;
    -ms-transform: scale(0.8);
        transform: scale(0.8);
    box-shadow: none;
    background-color: #f9fbff;
    border-color: white; }

.cards-slider.active-slide-0 #card-0, #card-0, #card-1, #card-2 {
  box-shadow: 0 4px 24px 0 rgba(205, 205, 205, 0.5);
  opacity: 1; }

.cards-slider.active-slide-1 #card-1, #card-0, #card-1, #card-2 {
  box-shadow: 0 4px 24px 0 rgba(205, 205, 205, 0.5);
  opacity: 1; }

.cards-slider.active-slide-2 #card-2, #card-0, #card-1, #card-2 {
  box-shadow: 0 4px 24px 0 rgba(205, 205, 205, 0.5);
  opacity: 1; }

.cards-slider.active-slide-3 #card-3, #card-0, #card-1, #card-2 {
  box-shadow: 0 4px 24px 0 rgba(205, 205, 205, 0.5);
  opacity: 1; }

.cards-slider.active-slide-4 #card-4, #card-0, #card-1, #card-2 {
  box-shadow: 0 4px 24px 0 rgba(205, 205, 205, 0.5);
  opacity: 1; }

.cards-slider.active-slide-5 #card-5, #card-0, #card-1, #card-2 {
  box-shadow: 0 4px 24px 0 rgba(205, 205, 205, 0.5);
  opacity: 1; }

.cards-slider.active-slide-6 #card-6, #card-0, #card-1, #card-2 {
  box-shadow: 0 4px 24px 0 rgba(205, 205, 205, 0.5);
  opacity: 1; }

.cards-slider.active-slide-7 #card-7, #card-0, #card-1, #card-2 {
  box-shadow: 0 4px 24px 0 rgba(205, 205, 205, 0.5);
  opacity: 1; }

.cards-slider.active-slide-8 #card-8, #card-0, #card-1, #card-2 {
  box-shadow: 0 4px 24px 0 rgba(205, 205, 205, 0.5);
  opacity: 1; }

.cards-slider.active-slide-9 #card-9, #card-0, #card-1, #card-2 {
  box-shadow: 0 4px 24px 0 rgba(205, 205, 205, 0.5);
  opacity: 1; }

.cards-slider.active-slide-10 #card-10, #card-0, #card-1, #card-2 {
  box-shadow: 0 4px 24px 0 rgba(205, 205, 205, 0.5);
  opacity: 1; }

.cards-slider.active-slide-11 #card-11, #card-0, #card-1, #card-2 {
  box-shadow: 0 4px 24px 0 rgba(205, 205, 205, 0.5);
  opacity: 1; }

.cards-slider.active-slide-12 #card-12, #card-0, #card-1, #card-2 {
  box-shadow: 0 4px 24px 0 rgba(205, 205, 205, 0.5);
  opacity: 1; }

.cards-slider.active-slide-13 #card-13, #card-0, #card-1, #card-2 {
  box-shadow: 0 4px 24px 0 rgba(205, 205, 205, 0.5);
  opacity: 1; }

.cards-slider.active-slide-14 #card-14, #card-0, #card-1, #card-2 {
  box-shadow: 0 4px 24px 0 rgba(205, 205, 205, 0.5);
  opacity: 1; }

.cards-slider.active-slide-15 #card-15, #card-0, #card-1, #card-2 {
  box-shadow: 0 4px 24px 0 rgba(205, 205, 205, 0.5);
  opacity: 1; }

.cards-slider.active-slide-16 #card-16, #card-0, #card-1, #card-2 {
  box-shadow: 0 4px 24px 0 rgba(205, 205, 205, 0.5);
  opacity: 1; }

.cards-slider.active-slide-17 #card-17, #card-0, #card-1, #card-2 {
  box-shadow: 0 4px 24px 0 rgba(205, 205, 205, 0.5);
  opacity: 1; }

.cards-slider.active-slide-18 #card-18, #card-0, #card-1, #card-2 {
  box-shadow: 0 4px 24px 0 rgba(205, 205, 205, 0.5);
  opacity: 1; }

.cards-slider.active-slide-19 #card-19, #card-0, #card-1, #card-2 {
  box-shadow: 0 4px 24px 0 rgba(205, 205, 205, 0.5);
  opacity: 1; }
.shop-section-second-container {
  display: -ms-flexbox;
  display: flex;
  overflow-x: hidden;
  position: relative;
  top: 0;
  height: 794px;
  width: 100%;
  background-color: #f9fbff; }
  .shop-section-second-container__center {
    background-size: cover;
    background-position: center;
    -ms-flex: 1;
        flex: 1;
    padding-left: 1rem; }
  .shop-section-second-container__right {
    background: #415167;
    -ms-flex: 0.33;
        flex: 0.33;
    padding: 0rem;
    display: -ms-flexbox;
    display: flex; }

@media screen and (max-width: 720px) {
  .header-container__logo_img {
    top: 10%;
    left: 6%;
    width: 70.4px;
    height: 20.4px;
    position: absolute; }
  .header-container__title {
    font-size: 2rem;
    left: 3%; }
    .header-container__title_third-style {
      padding: 0 0.5rem 0 0.5rem;
      color: #f9fbff;
      background-color: #c7a17a; }
    .header-container__title_second-style {
      padding: 0 1rem 0 0.5rem;
      color: #f9fbff;
      background-color: #c7a17a; }
  .header-container__right {
    background: #415167;
    -ms-flex: 0.3;
        flex: 0.3;
    padding: 0.8rem;
    font-size: 0.6rem;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row; } }
.footer-container {
  width: 100%;
  height: 60px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: center;
      justify-content: center;
  padding: 2rem; }
.page-container {
  max-width: 100%; }
* {
  box-sizing: border-box; }

html {
  font-family: "Helvetica Neue","Helvetica","Arial",sans-serif;
  font-size: 16px;
  color: #415167; }

body {
  padding: 0;
  margin: 0;
  min-height: 100vh; }

h1,
h2,
h3,
h4,
p, figure {
  margin: 0;
  padding: 0; }

ul {
  list-style: none;
  padding: 0;
  margin: 0; }

h2 {
  font-size: 1.9rem; }

h3 {
  font-size: 2rem; }

h4 {
  font-size: 1rem; }

a {
  text-decoration: none;
  display: inline-block; }

section, header {
  position: relative;
  background-size: cover;
  background-position: center;
  background-color: #fff; }

h1, h2, h3, h4, h5, h6 {
  line-height: 1.4;
  text-transform: uppercase; }
